body{
	margin: 0;
}
.container{
	margin: 0 100px;
}
/*--Header start---*/
header{
	position: fixed;
	overflow: hidden;
	top: 0;
}
.banner{
	width: 100%;
	display: block;
	background: #D8D7D5;
}
.banner-img img{
	width: 100%;
}
.main-header{
	width: 100%;
	background: white;
	position: sticky;
	padding: 20px;
	top: 40px;
	box-sizing: border-box;
	box-shadow: 0 10px 0 10px rgba(255,0,0,0.1);
}
.header-content{
	display: flex;
	justify-content: space-between;
}
.header-logo img{
	width: 60%;
}
.header-search{
	margin-left: auto;
	flex: 1;
}
.header-search input{
	padding: 10px 500px 10px 5px;
	font-size: 17px;
	border-radius: 8px;
	border: 1px solid rgba(0,0,0,0.2);
}
.button{
	display: inline-flex;
}
.button img{
	width: 40px;
	padding-top: 5px;
}
.button a{
	border: 1px solid rgba(0,0,0,0.4);
	padding: 9px 16px 0 16px;
	text-decoration: none;
	font-size: 18px;
	color: rgba(0,0,0,0.6);
	border-radius: 5px;
}
.button a:hover{
	background: #33C24D;
	color: white;
	border: 1px solid #33C24D;
}
/*--Header end---*/
/*--menu start--*/
.nav{
}
.menu-bar1{
	border-bottom: 1px solid #03A4E3;
	box-sizing: border-box;
	overflow: hidden;
}
.menu{
	margin: 160px 190px 0 190px;
}
.menu ul{
	list-style-type: none;
}
.menu ul li{
	float: left;
}
.menu ul li a{
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	background: white;
	display: block;
	color: black;
	width: 100%;
}
.menu ul li a:hover{
	color: #03A4E3;
}
.menu .active a{
	color: #03A4E3;
	border: 1px solid #03A4E3;
	display: block;
	border-bottom-style: hidden;
	box-sizing: border-box;
}
.menu-bar2{
	border-bottom: 1px solid rgba(0,0,0,0.2);
	box-sizing: border-box;
	overflow: hidden;
}
.menu-item ul{
	list-style-type: none;
}
.menu-item ul li{
	float: left;
}
.menu-item ul li a{
	padding: 0 30px 12px 30px;
	text-align: center;
	text-decoration: none;
	background: white;
	display: block;
	color: black;
	width: 100%;
}
.menu-item ul li a:hover{
	color: #03A4E3;
}
/*--menu end--*/
/*-- article-box start--*/
.article-box{
	box-shadow: 0 5px 2px 2px rgba(10,0,0,0.1);
	background: white;
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
	margin: 30px 0;
}
.title{
	display: flex;
	justify-content: space-between;
}
.title-right{
	margin-top: 30px;
}
.title-right a{
	border: 1px solid dodgerblue;
	background: transparent;
	color: dodgerblue;
	padding: 10px;
	text-decoration: none;
}
.title-right a:hover{
	background: dodgerblue;
	color: white;
}
.article{
	display: flex;
	justify-content: space-evenly;
	text-align: center;
}
.a-content{
	width: 150px;
	padding: 10px;
}
.a-content:hover{
	background: rgba(0,0,0,0.1);
}
.article-img img{
	width: 130px;
	height: 190px;
}
.price del{
	color: rgba(0,0,0,0.5);
}
/*-- article-box end--*/
/*-- category start--*/
.category{
	margin: 10px 0;
	box-sizing: border-box;
	display: flex;
	justify-content: space-evenly;
}
.category-text{
	border-radius: 4px;
	border: 1px solid #0397D3;
	background: rgba(3,151,211,0.2);
}
.category-text a{
	text-decoration: none;
	height: 50px;
	text-align: center;
	padding: 17px 10px;
	width: 210px;
	display: block;
	color: black;
	box-sizing: border-box;
	box-shadow: inset 0 0 0 0 #0397D3;
	transition: ease-out 0.5s;
}
.category-text a:hover{
	color: white;
	box-shadow: inset 350px 0 0 0 #0397D3;
}
/*-- category end--*/
/*-- book-fair start--*/
.book-fair{
	text-align: center;
}
/*-- book-fair end--*/
/*-- book category start--*/
.book-title{
	padding-left: 30px;
	display: inline-block;
}
.book-title h2{
	font-size: 30px;
	color: #737373;
}
.book-title span{
	font-size: 15px;
	color: #AAAAAA;
}
.book-category{
	box-shadow: 0 5px 2px 2px rgba(10,0,0,0.1);
	background: white;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	border-radius: 5px;
	overflow: hidden;
	padding: 30px 0;
}
.book-bac{
	background: url(images/custom-category.png);
	background-size: 100% 100%;
	width: 150px;
	height: 110px;
	text-align: center;
	color: white;
}
.book-bac .p1{
	padding: 27px;
}
.book-bac .p2{
	padding: 25px;
}
.book-bac .p3{
	padding: 26px;
}
.book-bac .p4{
	padding: 12px;
}
.book-bac .p5{
	padding: 12px;
}
.book-bac .p6{
	padding: 17px;
}
/*--book category end--*/
.category-text a span{
	color: dodgerblue;
	box-shadow: inset 0 0 0 0 #0397D3;
	transition: ease-out 0.5s;
}
.category-text a span:hover{
	color: white;
	box-shadow: inset 350px 0 0 0 #0397D3;
}

/*--Must Read start---*/
.must-read{
	display: flex;
	justify-content: space-evenly;
	box-shadow: 0 5px 2px 2px rgba(10,0,0,0.1);
	background: white;
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
	margin: 30px 0;
	text-align: center;
}
.must-read-img{
	color: #AFC1E0;
}
.must-read-img img{
	width: 150px;
	height: 190px;
}
/*--Must Read end---*/
/*Banner2 start--*/
.banner2{
	width: 100%;
}
.banner2 img{
	width: 100%;
}
/*Banner2 end--*/
/*--populer author start---*/
.popular-author-img{
	display: flex;
	justify-content: space-evenly;
}
.picture img{
	margin: 30px 0 0 50px;
	width: 50%;
	height: 50%;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 50%;
}
.picture img:hover{
	border: 1px solid dodgerblue;
}
/*--populer author end---*/
/*--footer--*/
.payment{
	width: 100%;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	border-top: 1px solid rgba(0,0,0,0.2);
}
.payment-content{
	display: inline-flex;
	margin-left: 300px;
}
.payment-img {
	padding: 10px;
}
.payment-img img{
	padding-top: 14px;
	width: 40px;
	height: 20px;
}
.footer-text{
	text-align: center;
}
.footer-end-text{
	text-align: center;
}